.gradient-login-area {
    position: relative;
    z-index: 1;
}

.col-lg-6.p-5 {
    position: relative;
    z-index: 3;
}

.nav-pills {
    position: relative;
    z-index: 10;
}

.nav-pills .nav-link {
    position: relative;
    z-index: 10;
}